<h1><%= @location_and_time %></h1>

<%= form_tag "/forecasts", method: :get do %>
<div>
  <%= label_tag :city %>
  <%= text_field_tag :city %>
</div>
<div>
  <%= label_tag :state %>
  <%= text_field_tag :state %>
</div>
<%= submit_tag "Get weather!!!!! (or get lost)" %>
<% end %>


<table>
  <tr>
    <th>Date</th>
    <th>Low</th>
    <th>High</th>
  </tr>
  <% @forecasts.each do |forecast| %>
    <tr>
      <td><%= forecast["date"] %></td>
      <td><%= forecast["low"] %></td>
      <td><%= forecast["high"] %></td>
    </tr>
  <% end %>
</table>